<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>Add Provider</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" action="/client/addprovider" method="post" novalidate>
                <input type="hidden" name="req_id" value={{req_id}}>
                <div class="form-group {{#if errors.provider_name}}has-error{{/if}}">
                    <label for="inputProviderName" class="col-sm-2 control-label"><span class="text-danger">*</span> Provider Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="provider_name" value="{{values.provider_name}}" class="form-control" id="inputProviderName"
                               placeholder="Human-readable display name for the provider" aria-describedby="helpBlockProviderName">
                        {{#if errors.provider_name}}
                            <span id="helpBlockProviderName" class="help-block">{{errors.provider_name}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group {{#if errors.authorization_endpoint}}has-error{{/if}}">
                    <label for="inputAuthUri" class="col-sm-2 control-label"><span class="text-danger">*</span> Authorization Endpoint</label>
                    <div class="col-sm-10">
                        <input type="text" name="authorization_endpoint" value="{{values.authorization_endpoint}}" class="form-control" id="inputAuthUri"
                               placeholder="URI to authorize a client" aria-describedby="helpBlockAuthUri">
                        {{#if errors.authorization_endpoint}}
                            <span id="helpBlockAuthUri" class="help-block">{{errors.authorization_endpoint}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group {{#if errors.token_endpoint}}has-error{{/if}}">
                    <label for="inputTokenUri" class="col-sm-2 control-label"><span class="text-danger">*</span> Token Endpoint</label>
                    <div class="col-sm-10">
                        <input type="text" name="token_endpoint" value="{{values.token_endpoint}}" class="form-control" id="inputTokenUri"
                               placeholder="URI to obtain a token" aria-describedby="helpBlockTokenUri">
                        {{#if errors.token_endpoint}}
                            <span id="helpBlockTokenUri" class="help-block">{{errors.token_endpoint}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group {{#if errors.revocation_endpoint}}has-error{{/if}}">
                    <label for="inputRevokeUri" class="col-sm-2 control-label">Revocation Endpoint</label>
                    <div class="col-sm-10">
                        <input type="text" name="revocation_endpoint" value="{{values.revocation_endpoint}}" class="form-control" id="inputRevokeUri"
                               placeholder="URI to revoke a token" aria-describedby="helpBlockRevokeUri">
                        {{#if errors.revocation_endpoint}}
                            <span id="helpBlockRevokeUri" class="help-block">{{errors.revocation_endpoint}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group {{#if errors.registration_endpoint}}has-error{{/if}}">
                    <label for="inputRegUri" class="col-sm-2 control-label">Registration Endpoint</label>
                    <div class="col-sm-10">
                        <input type="text" name="registration_endpoint" value="{{values.registration_endpoint}}" class="form-control" id="inputRegUri"
                               placeholder="URI to register a client" aria-describedby="helpBlockRegUri">
                        {{#if errors.registration_endpoint}}
                            <span id="helpBlockRegUri" class="help-block">{{errors.registration_endpoint}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group {{#if errors.userinfo_endpoint}}has-error{{/if}}">
                    <label for="inputInfoUri" class="col-sm-2 control-label">User Info Endpoint</label>
                    <div class="col-sm-10">
                        <input type="text" name="userinfo_endpoint" value="{{values.userinfo_endpoint}}" class="form-control" id="inputInfoUri"
                               placeholder="URI to obtain client information" aria-describedby="helpBlockInfoUri">
                        {{#if errors.userinfo_endpoint}}
                            <span id="helpBlockInfoUri" class="help-block">{{errors.userinfo_endpoint}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>