<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>Dynamic Client Registration</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" action="/client/dcr" method="post" novalidate>
                <input type="hidden" name="req_id" value={{req_id}}>
                <div class="form-group {{#if errors.name}}has-error{{/if}}">
                    <label for="inputClientName" class="col-sm-2 control-label"><span class="text-danger">*</span> Client Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="client_name" value="{{values.name}}" class="form-control" id="inputClientName"
                               placeholder="Human-readable display name for the client" aria-describedby="helpBlockClientName">
                        {{#if errors.name}}
                            <span id="helpBlockClientName" class="help-block">{{errors.name}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group {{#if errors.uri}}has-error{{/if}}">
                    <label for="inputClientUri" class="col-sm-2 control-label">Client URI</label>
                    <div class="col-sm-10">
                        <input type="text" name="client_uri" value="{{values.uri}}" class="form-control" id="inputClientUri"
                               placeholder="A URI that indicates the client's homepage" aria-describedby="helpBlockClientUri">
                        {{#if errors.uri}}
                            <span id="helpBlockClientUri" class="help-block">{{errors.uri}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group {{#if errors.redirects}}has-error{{/if}}">
                    <label for="inputRedirectUris" class="col-sm-2 control-label"><span class="text-danger">*</span> Redirect URIs</label>
                    <div class="col-sm-10">
                        <input type="text" name="redirect_uris" value="{{values.redirects}}" class="form-control" id="inputRedirectUris"
                               placeholder="An array of URI strings" aria-describedby="helpBlockRedirectUris">
                        {{#if errors.redirects}}
                            <span id="helpBlockRedirectUris" class="help-block">{{errors.redirects}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group {{#if errors.grants}}has-error{{/if}}">
                    <label for="inputGrantTypes" class="col-sm-2 control-label"><span class="text-danger">*</span> Grant Types</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="grant_types" value="authorization_code">
                                Authorization Code
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="grant_types" value="client_credentials">
                                Client Credentials
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="grant_types" value="refresh_token">
                                Refresh Token
                            </label>
                        </div>
                        {{#if errors.grants}}
                            <span id="helpBlockGrantTypes" class="help-block">{{errors.grants}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group {{#if errors.tokenauth}}has-error{{/if}}">
                    <label for="inputTokenEndpointAuth" class="col-sm-2 control-label"><span class="text-danger">*</span> Token Endpoint Authentication</label>
                    <div class="col-sm-10">
                        <div class="radio">
                            <label>
                                <input type="radio" name="token_endpoint_auth_method" id="optionsRadios1" value="client_secret_basic" checked>
                                Client Secret Basic
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="token_endpoint_auth_method" id="optionsRadios2" value="client_secret_post">
                                Client Secret Post
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="token_endpoint_auth_method" id="optionsRadios3" value="client_secret_jwt">
                                Client Secret JWT
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="token_endpoint_auth_method" id="optionsRadios4" value="private_key_jwt">
                                Private Key JWT
                            </label>
                        </div>
                        {{#if errors.tokenauth}}
                            <span id="helpBlockGrantTypes" class="help-block">{{errors.tokenauth}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group {{#if errors.scope}}has-error{{/if}}">
                    <label for="inputScope" class="col-sm-2 control-label">Scope</label>
                    <div class="col-sm-10">
                        <input type="text" name="scope" value="{{values.scope}}" class="form-control" id="inputScope"
                               placeholder="String of space-separated values" aria-describedby="helpBlockScope">
                        {{#if errors.scope}}
                            <span id="helpBlockScope" class="help-block">{{errors.scope}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>